TELEGRAM_BOT_TOKEN=8251179673:AAFhwrz5SgmXa3tBYkhaitjfhw6egsQScys
ADMIN_CHAT_ID=6677966027
APP_URL=
TELEGRAM_WEBHOOK_SECRET=your_random_webhook_secret
SUPABASE_URL=https://supabase.com/dashboard/project/jipdlfgrwovuvbjxfklg
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_dZPC4jvmFO55fakyFr2mfw_vTvF9cww
