TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=6677966027
APP_URL=https://mini-bot7-60qr1rn6s-yanrxs-projects.vercel.app
TELEGRAM_WEBHOOK_SECRET=mini_bot7_secret_2026_xyz123
SUPABASE_URL=https://wfjlzswkoxyfmexuaixw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_REAL_SERVICE_ROLE_KEY

